html,
body {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.home-section {
  /* background: url(bgppdb.jpeg) no-repeat; */
  /* background-size: cover; */
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section p:first-of-type,.home-section p:last-of-type {
  padding: 0;
  margin: 1rem 0 ;
}

.home-section h2 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
}
